@page {
    margin: 0;
    /* size:letter; */
}
@media print {
    .lang.no-print {
        display:none; 
    }
    .c1.position.onlyprint {
        visibility: visible;
    }
    .opis.onlyprint {
        display: inline;
    }
    /* If the screen size is 501px wide or more, set the font-size of <div> to 80px */
/* @media screen and (min-width: 501px) { */
    /* div .container { */
      /* font-size: 16px; */
    /* } */
  /* } */
  
  /* If the screen size is 500px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 550px) {
    div.container {
      /* font-size: 14px; */
      font-size: 5vw
    }
  }
   
}
html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.container {
    width: 1000px;
    display: flex;
    margin: 0 auto;  
    min-height: 100%;
}
.column1 {
    display: flex;
    flex-direction: column;
    background-color: #4e7e9c;
    color: white;
    padding: 35px;
    max-width: 25%;
}
.foto {
    display: block;
    margin: 5px auto;
    width: 203px;
    height: 203px;
    object-fit: cover;
    object-position: 0px 18%;
    border-radius: 50%;
}
.c1.position {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    visibility: hidden;
}
.qr {
    object-fit: cover;
    width: 153px;
}
h1 {
    text-align: center;
    margin: 0;
}
.c1>ul>li, .c3>ul>li {
    margin: 5px auto;
}
.c1>ul, .c2>ul, .c3>ul, .c5>ul {
    padding: 0;
    list-style-type: none;
    margin-top: 15px;
}
.c1 p {
    display: inline;
}
.c1 {
    margin:10px 0;
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: rgb(185, 184, 184);
    text-decoration: none;
}
h3 {
    text-align: center;
    letter-spacing: 2px;
    font-size: x-large;
    margin: 0;
}
.column2 {
    padding: 35px;
}
.column2 p {
    padding-right: 15px;
    line-height: 1.5;
}
.opis {
    display: none;
}
footer {
    font-size: small;
}
h4 {
    letter-spacing: 2px;
    font-size: x-large;
    margin: 20px 0 5px 0;
}
.c2>ul>li { 
    /* narzędzia i technologie */
    width: 40%;
    display: inline-table;
    margin: 5px 0;
}
.c5>ul>li>span {
    /* doświadczenie i edukacja daty */
    display: flex;
    justify-content: right;
    margin: 5px 0;
    padding-right: 10px;
}
.c5>ul>li>p {
    margin: 5px 0;
}
.fa {
    /* ikony sociali */
    padding: 5px;
    color: white;
}
.lang {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 800;
}
.lang a:link, .lang a:visited {      
    color: rgb(172, 172, 172);
}
.lang a:hover {
    color: rgb(122, 111, 111);
}
.lang a.open-site {
    color:black;
}
hr {
    margin: 0; 
    color: black;
}
